venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.exe
venv/ 
Documentacion/ 
__pycache__/ 
*.pyc 
*.db 
.env.example 
Comandos Github 
app_backup/ 
venv/ 
Documentacion/ 
__pycache__/ 
*.pyc 
*.db 
.env.example 
Comandos Github 
app_backup/ 
